.check-box
{
    -fx-label-padding: 0.0em 0.5em 0.0em;
    -fx-font-size: 18px;
    -fx-text-fill: #000000;
    -fx-font-style: italic;
    -fx-cursor: hand;
}

.check-box .box
{
    -fx-background-color: #f4f4f4;
    -fx-border-color: #757072;
    -fx-background-radius: 4,4,4,4;
    -fx-border-width: 0.2em;
    -fx-border-radius: 2px;
}

.check-box:focused .box
{
    -fx-background-insets: -1.4,0,1,2;
    -fx-background-radius: 3,4,2,1,1;
}

.check-box:selected .mark {
    -fx-background-color: #e6e6e6;
}

.check-box:selected .box
{
    -fx-border-color: #ff8000;
    -fx-background-color: #ff8000;
}