.logo
{
    width: auto;
    min-height: 75px;
}

.btn-close
{
    -fx-background-color: #1c6105;
    -fx-text-fill: #f0f0f0;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-opacity: 0.9;
    -fx-background-radius: 2em;
}

.btn-close:hover
{
    -fx-cursor: hand;
    -fx-opacity: 1.0;
}

.btn-close:pressed
{
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.btn-lang
{
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #314805;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.btn-lang
{
    -fx-cursor: hand;
    -fx-opacity: 1.0;
}

.btn-lang:pressed
{
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.btn-choose
{
    -fx-background-color: #237906;
    -fx-text-fill: #f0f0f0;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-opacity: 0.9;
}

.btn-choose:hover
{
    -fx-cursor: hand;
    -fx-opacity: 1.0;
}

.btn-choose:pressed
{
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.button-exit
{
    -fx-background-color: #2b7de9;
    -fx-text-fill: #f0f0f0;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-background-radius: 2em;
    -fx-font-family: "Arial";
}


.button-exit:hover
{
    -fx-cursor: hand;
    -fx-background-color: #1872e7;
}

.button-exit:pressed
{
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.list-view {
    -fx-background-color: #f1f1f1;
    -fx-font-size: 22px;
}

.list-view .list-cell:hover {
    -fx-background-color: #cccccc;
}

.list-view .list-cell:selected {
    -fx-background-color: #cccccc;
}

.list-view .list-cell {
    -fx-background-color: #f1f1f1;
    -fx-text-fill: black;
}

.list-view .label {
    -fx-text-fill: black;
}

.list-cell:empty {
    -fx-opacity: 0;
}

.check-box
{
    -fx-label-padding: 0.0em 0.5em 0.0em;
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
    -fx-font-style: italic;
    -fx-cursor: hand;
}

.check-box .box
{
    -fx-background-color: #f4f4f4;
    -fx-border-color: #757072;
    -fx-background-radius: 4,4,4,4;
    -fx-border-width: 0.2em;
    -fx-border-radius: 2px;
}

.check-box:focused .box
{
    -fx-background-insets: -1.4,0,1,2;
    -fx-background-radius: 3,4,2,1,1;
}

.check-box:selected .mark {
    -fx-background-color: #e6e6e6;
}

.check-box:selected .box
{
    -fx-border-color: #fb8c00;
    -fx-background-color: #fb8c00;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button
{
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button
{
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow
{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb
{
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover
{
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.jfx-radio-button
{
   -fx-font-size: 22px;
}

.jfx-radio-button .radio
{
    -fx-stroke-width: 2px;
    -fx-text-fill: transparent;
}

.jfx-radio-button-blue
{
    -fx-font-size: 22px;
    -fx-text-fill: #f2f2f2;
    -jfx-selected-color: #fb8c00;
    -fx-padding: 20px;
    -jfx-unselected-color: #fb8c00;
}

.radio-button:selected .radio .dot
{
    -fx-background-color: #ff8000;
    -fx-background-insets: 0;
}

.radio-button .radio {
    -fx-border-width: 2px;
    -fx-border-color: #e67e00;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 5px;
}
.radio-button .radio:selected
{
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:armed
{
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate
{
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate
{
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot
{
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}

.text-area
{
    -fx-focus-color: transparent;
    -fx-border-style: none;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-text-fill: #333;
    -fx-font-size: 24px;
    -fx-border-color: #808080;
}

.text-area .content
{
    -fx-background-color: white;
}

.text-area .scroll-pane
{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport
{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content
{
    -fx-background-color: transparent;
}

.jfx-text-field
{
    -jfx-focus-color:  #fb8c00
}

.text-field
{
    -fx-prompt-text-fill: #ffffff; /*Yellow - floating label*/
    -fx-text-fill: #ffffff; /*Yellow - input color*/
    -fx-highlight-fill:  #fb8c00 /*Green*/
}

.text-field .input-line
{
    -fx-background-color: #ffffff; /*Yellow - bottom bar*/
}

.tree-view, .tree-cell {
    -fx-background-color: #f1f1f1;
    -fx-text-fill: black;
    -fx-font-size: 22px;
}

.tree-cell:selected {
    -fx-font-weight: bold;
    -fx-text-fill: #404040;
    -fx-background-color: #cccccc;
}
.tree-cell {
    -fx-wrap-text: true;
    -fx-padding: 0.25em 0em 0.25em 0em;
}
.tree-cell:sub-tree-item {
    -fx-padding: 0.25em ;
}

.text-area
{
    -fx-background-color: white;
    -fx-background-radius: 0.0px;
}

/*.separator .line {*/
    /*-fx-border-color: #e79423;*/
    /*-fx-border-width: 1;*/
/*}*/
.progress-bar > .bar {
    -fx-background-color: linear-gradient(
            from 0px .75em to .75em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
    );
}

.progress-bar2 {
    -fx-box-border: goldenrod;
}

.green-bar {
    -fx-accent: #28A745;
}

.yellow-bar {
    -fx-accent: #FFC107;
}

.orange-bar {
    -fx-accent: #fb8c00;
}

.red-bar {
    -fx-accent: #DC3545;
}

.btn-default {
    -fx-background-radius: 50px;
    -fx-background-color: #e46774;
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.btn-active {
    -fx-background-color: #fb8c00;
    -fx-background-radius: 50px;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.btn-selected {
    -fx-background-color: #43d668;
    -fx-background-radius: 50px;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}